<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="config/bootstrap.php"
>

    <php>
        <ini name="error_reporting" value="-1" />
        <env name="APP_ENV" value="test" />
        <env name="SHELL_VERBOSITY" value="-1" />
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./src/Kernel.php</directory>
                <directory>./src/Entrypoint</directory>
                <directory>./src/Infrastructure</directory>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="main">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
